@model List<DAL.Associados.AssociadoInstituicao>
@using BLL.ConfiguracoesTextos.Extensions
@using DAL.Associados;
@using DAL.Permissao.Security.Extensions


<br />
<div class="text-left">
	<button class="btn bg-yellow">
		<i class="far fa-chart-bar"></i> <strong>@Model.Count</strong> @Html.labelTexto(User.idOrganizacao(), "instituicaoPlural", "instituições") cadatrada(s)
	</button>
</div><br />
<table class="table table-bordered table-striped">
    <tr>
        <th class="text-center">@Html.labelTexto(User.idOrganizacao(), "lblinstituicao", "Instituição")</th>
        <th class="text-center width-250">Cadastro</th>
        <th class="text-center width-125">&nbsp;</th>
    </tr>
    @if(Model.Count > 0) {
        foreach(AssociadoInstituicao OItem in Model) {
            <tr>
                <td>
                    <span><i class="fa fa-check"></i> @OItem.Instituicao.descricao</span>
                </td>
                <td class="text-left">
                    <span><i class="fa fa-calendar"></i> @OItem.dtCadastro</span><br/>
                    <span data-toggle="tooltip" title="Usuário Cadastro"><i class="fa fa-user"></i> @(OItem.UsuarioCadastro.nome.isEmpty()? "O Associado": OItem.UsuarioCadastro.nome)</span>
                </td>
                <td class="text-center box-acoes">
					@Html.linkAjaxExcluir(OItem.id, "N", Url.Action("excluir", "associadoInstituicao", new { area = "associados" }))
                </td>
            </tr>
        }

    } else {
        <tr>
            <td class="text-center" colspan="6">Nenhuma @Html.labelTexto(User.idOrganizacao(), "lblinstituicao", "Instituição") cadastrada.</td>
        </tr>
    }
</table>
