@model LancamentoDespesasVM
@using DAL.Financeiro
@using PagedList.Mvc
@using WEB.Helpers
@using WEB.Areas.LancamentoRecebimentos.ViewModels

@{
    Layout = "";
}

<div class="box box-primary">

    <div class="box-header with-border">
        <div class="box-title">
            <i class="far fa-chart-bar"></i> Resultados <em class="fs-12">@Model.listaTituloDespesaPagamento.TotalItemCount registro(s) encontrado(s)</em>
        </div>
    </div>

    <div class="box-body">

        @if (!Model.listaTituloDespesaPagamento.Any()) {
            <div class="col-sm-12">
                <div class="alert alert-info">
                    Nenhuma despesa foi encontrada.
                </div>
            </div>
        }

        @foreach (var OItem in Model.listaTituloDespesaPagamento) {

            <div class="box-info-item @OItem.exibirBordaStatus()">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="row fs-12">
                            <div class="col-sm-12 no-padding">
                                <div class="col-lg-8 col-sm-7 col-xs-7">
                                    <span data-toggle='tooltip' title='Descrição'><i class="fa fa-align-justify"></i> @OItem.descricao</span>
                                </div>

                                <div class="col-sm-2 col-xs-2">
                                    <span class="@OItem.exibirClasseStatus()"><i class="fa @OItem.exibirIconeStatus()"></i> @(OItem.dtPagamento == null && OItem.dtVencimentoDespesa < DateTime.Today ? "EM ATRASO" : (OItem.idStatusPagamento > 0 ? OItem.descricaoStatusPagamento : "EM ABERTO"))</span>
                                </div>

                                <div class="col-lg-1 col-sm-2 col-xs-2">
                                    <div class="dropdown pull-right">
                                        <a href="javascript:;" class="dropdown-toggle" type="button" data-toggle="dropdown">
                                            Ações
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>@acoes(OItem)</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-1 col-xs-1 text-right">
                                    <input type="checkbox" name="checkRegistro[]" value="@OItem.idTituloPagamento" />
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">

                                <span data-toggle='tooltip' title='Nº'><i class="fa fa-hashtag"></i> @OItem.idTituloPagamento</span><br />

                                <span data-toggle='tooltip' title='Centro de Custo'><i class="far fa-chart-bar"></i> @(OItem.descricaoCentroCusto)<br /></span>

                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-6">

                                <span data-toggle='tooltip' title='Pago a'><i class="fa fa-user"></i> @(OItem.nomePessoa)</span><br />

                                <span data-toggle='tooltip' title='Data de Vencimento'><i class="fa fa-calendar"></i> @OItem.dtVencimentoDespesa.exibirData()</span>
                            </div>

                            <div class="clearfix visible-xs"></div>

                            <div class="col-md-2 col-sm-2 col-xs-6">

                                <span data-toggle='tooltip' title='Data de Pagamento'><i class="fa fa-calendar"></i> @OItem.dtPagamento.exibirData()</span><br />

                                <span data-toggle='tooltip' title='Data de Exclusão'><i class="fa fa-calendar-times-o"></i> @(OItem.dtExclusao.exibirData())</span><br />

                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-6">

                                <span data-toggle='tooltip' title='Valor Pago'><i class="fa fa-usd"></i> @(OItem.valorPago.exibirValor())</span><br />

                                <span data-toggle='tooltip' title='Valor Original'><i class="fa fa-usd"></i> @(OItem.valorOriginal?.ToString("C"))</span>

                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-6">

                                <span data-toggle='tooltip' title='Motivo Exclusão'><i class="fa fa-trash"></i> @(OItem.motivoExclusao == "" ? OItem.motivoExclusao : OItem.motivoExclusao)</span><br />

                                <span data-toggle='tooltip' title='Usuário Exclusão'><i class="fa fa-user-times"></i> @(OItem.nomeUsuarioExclusao)</span>

                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="clearfix"></div>
        @(Html.paginarRegistros(Model.listaTituloDespesaPagamento, Html.PagedListPager(Model.listaTituloDespesaPagamento, nroPagina => UtilRequest.linkPaginacao(nroPagina, "listar"), PagedListRenderOptions.OnlyShowFivePagesAtATime)))
        <div class="clearfix"></div>
        <br />
        <br />
    </div>
</div>


@helper acoes(TituloDespesaPagamentoResumoVW Item) {
    @Html.linkEditar(Item.idTituloDespesa.toInt(), Url.Action("editar", "DespesaDetalhe", new { area = "Financeiro", id = Item.idTituloDespesa, urlRetorno = Request.Url.AbsoluteUri }), "box-acoes", "Editar Registro")
}



