@model WEB.Areas.Financeiro.ViewModels.ReceitaForm
@using DAL.Entities
@using WEB.Areas.Arquivos.Helpers
@using WEB.Areas.Recibos.Helpers
@{
    ViewBag.titlePage = "Lançamento a receber Nº " + Model.TituloReceita.id;
}
@section styles{
    @Html.includeCSSModuloArquivos()
    @Html.includeFroalaEditorCSS()
    @Html.includeToastCSS()

    <link href="@UtilConfig.linkResourses("Areas/Arquivos/js/plugins/jqueryFancybox/jquery.fancybox.css")" rel="stylesheet" />
    <link href="@UtilConfig.linkResourses("areas/financeiro/css/financeiro.css")" rel="stylesheet"/>
    <link href="@UtilConfig.linkResourses("css/associatec/list-custom.css")" rel="stylesheet" />
}
    
@section scripts {
    @Html.includeLocalizacaoJS()
    @Html.includeDatePicker()
    @Html.includeJqueryLoading()
    @Html.includeBootstrapEditable()
    
    @Html.includeJSModuloArquivos()
    @Html.includeBootstrapMultiselect()
    @Html.includeFroalaEditorJS()
    @Html.includeToastJS()

    <script src="@UtilConfig.linkResourses("Areas/Arquivos/js/plugins/jqueryFancybox/jquery.fancybox.js")"></script>
    <script src="@UtilConfig.linkResourses("Areas/Arquivos/js/arquivo-documento.js")"></script>

    <script src="@UtilConfig.linkResourses("js/associatec/froala-custom.js?v=1.0")"></script>

    <script src="@UtilConfig.linkResourses("areas/financeiro/js/combo-centro-custo.js?v=1")"></script>
    <script src="@UtilConfig.linkResourses("areas/financeiro/js/combo-macro-conta.js?v=1")"></script>
    <script src="@UtilConfig.linkResourses("areas/financeiro/js/combo-sub-conta.js?v=1")"></script>
    
    <script src="@UtilConfig.linkResourses("Areas/Financeiro/js/receita-detalhe.js?v=1.6")"></script>
    <script src="@UtilConfig.linkResourses("Areas/Financeiro/js/receita-detalhe-pagamento.js?v=1.0")"></script>
    <script src="@UtilConfig.linkResourses("Areas/Financeiro/js/receita-pagamento-clone.js")"></script>
    <script src="@UtilConfig.linkResourses("Areas/Financeiro/js/receita-registrar-pagamento.js?v=1.0")"></script>
    <script src="@UtilConfig.linkResourses("Areas/FinanceiroNotificacoes/js/titulo-receita-cobranca.js?v=1.0")"></script>
    <script src="@UtilConfig.linkResourses("Areas/FinanceiroNotificacoes/js/titulo-receita-pagamento-cobranca.js?v=1.0")"></script>
    
    <script src="@UtilConfig.linkResourses("Areas/Financeiro/js/titulo-imposto-cadastro.js?v=1.0")"></script>
    
    <script type="text/javascript" src="@UtilConfig.linkResourses("Areas/FinanceiroLancamentos/js/devedor.js")"></script>
    <script type="text/javascript" src="@UtilConfig.linkResourses("Areas/FinanceiroLancamentos/js/receita-clone.js")"></script>
    
    <script type="text/javascript" src="@UtilConfig.linkResourses("Areas/Financeiro/js/detalhe-pagamento.js")"></script>
}

@section breadcrump {
    <ol class="breadcrumb">
        <li><a class="active fs-14" href="@(Model.urlRetorno.isEmpty() ? Url.Action("listar", "LancamentoRecebimento", new {area = "FinanceiroLancamentos"}) : Model.urlRetorno)"><i class="fa fa-arrow-left"></i> Voltar</a></li>
    </ol>
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title @(Model.TituloReceita.dtExclusao.HasValue ? "text-red" : "")">
            <i class="far fa-money-bill"></i> Receita - 
            
            <a href="#" class="info-editavel editable editable-click" data-type="text" data-source="#" data-pk="@Model.TituloReceita.id" data-name="descricao" data-value="@Model.TituloReceita.descricao" data-title="Descrição" data-emptytext="Descrição não informada">
                @Model.TituloReceita.descricao.abreviar(50)
            </a>
            @(Model.TituloReceita.dtExclusao.HasValue ? "(REMOVIDO)" : "")
        </h3>
        <div class="box-tools pull-right">
            <div class="btn-group">
                <a href="javascript:;" class="dropdown-toggle text-black" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="@Url.Action("index", "ReceitaCadastro", new {area = "FinanceiroLancamentos", Model.urlRetorno })" class="box-acoes">
                            <i class="far fa-plus"></i> Nova Receita
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="box-acoes" onclick="ReceitaClone.abrirModal('@Url.Action("modal-clonar-receita", "ReceitaClone", new { Area = "FinanceiroLancamentos", id = Model.TituloReceita.id })');">
                            <i class="far fa-copy"></i> Replicar Título
                        </a>
                    </li>
                    <li><a href="javascript:;" class="box-acoes" onclick="DefaultSistema.showModal('@Url.Action("modal-log-receita", "ReceitaDetalhe", new {id = Model.TituloReceita.id})');"><i class="far fa-file fs-14"></i> Log de Alterações</a></li>
                    <li><a href="javascript:;" class="box-acoes" onclick="ArquivoDocumento.showModal('@Url.Action("partial-documento", "arquivo", new {area = "arquivos", id = 0, idReferencia = Model.TituloReceita.id, entidade = EntityTypes.TITULORECEITA, flagView = Model.TituloReceita.dtExclusao.HasValue})');"><i class="far fa-file-archive fs-14"></i> Documentos</a></li>
                    @if (Model.TituloReceita.dtQuitacao.HasValue) {
                        <li>
                            @Html.linkReciboTitulo(Model.TituloReceita.id, "<i class=\"far fa-file-alt\"></i> Visualizar Recibo")
                        </li>
                    }
                    @if (Model.TituloReceita.dtExclusao == null && Model.TituloReceita.dtQuitacao == null) {
                        <li>
                            <a href="javascript:void(0);" class="box-acoes" data-url="@Url.Action("modal-clonar-receita-pagamento", "ReceitaPagamentoClone", new {idTituloReceita = Model.TituloReceita.id})" onclick="ReceitaPagamentoClone.modalClonarPagamento(this);">
                                <i class="far fa-plus fs-14"></i> Adicionar Pagamento
                            </a>
                        </li>
                        <li>
                            @Html.linkPagamentoTitulo(Model.TituloReceita.id, "Link Pagamento", "", "far fa-credit-card")
                        </li>
                        <li>
                            @Html.linkEnviarEmailCobrancaTitulo(Model.TituloReceita.id, "Enviar e-mail cobrança", "", "far fa-envelope")
                        </li>
                    }
                    @if (Model.TituloReceita.dtExclusao == null && !FinanceiroHelper.receitasBloqueadas(Model.TituloReceita.idTipoReceita)){
                        <li role="presentation" class="divider"></li>
                        <li><a href="javascript:;" class="box-acoes" onclick="DefaultSistema.showModal('@Url.Action("modal-excluir-receita", "ReceitaDetalheOperacao", new {area = "Financeiro", id = Model.TituloReceita.id})')"><i class="far fa-trash-alt fs-14"></i> Excluir Receita</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="box-body">
        <div id="BoxLoadDadosEditar" class="carregando" data-url="@Url.Action("partial-info-titulo", "ReceitaDetalhe", new { Model.TituloReceita.id})"></div>
    </div>
</div>
@if (Model.TituloReceita.dtExclusao == null){
    <div class="row">
        <div class="col-md-12">
            <div id="BoxLoadListPagamentos" class="box box-primary carregando" data-url="@Url.Action("partial-lista-pagamentos", "ReceitaDetalhePagamentos", new { area = "Financeiro", idTituloReceita = Model.TituloReceita.id })"></div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <div id="BoxLoadListPagamentosExcluidos" class="content-load carregando" data-url="@Url.Action("partial-lista-pagamentos-excluidos", "ReceitaDetalhePagamentos", new {area = "Financeiro", idTituloReceita = Model.TituloReceita.id})"></div>
    </div>
</div>
