<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>@Html.sistema().tituloSistema - @ViewBag.titlePage</title>
        <link href="@UtilConfig.linkResourses("favicon.ico")" rel="shortcut icon" type="image/x-icon" />
        <link href="@UtilConfig.linkResourses("css/base.min.css")" rel="stylesheet" />
        <link href="@UtilConfig.linkResourses("css/barcode/barcode.css")" rel="stylesheet" />
        <link href="@UtilConfig.linkResourses("Areas/Etiquetas/css/etiqueta.css")" rel="stylesheet" />
        @RenderSection("styles", required: false)
    </head>

    <body>
    
        <div>
            @RenderBody()
        </div>
    
        <script src="@UtilConfig.linkResourses("js/base.min.js")"></script>
        <script src="@UtilConfig.linkResourses("js/modulos.min.js")"></script>
        <script src="@UtilConfig.linkResourses("Areas/Etiquetas/js/etiqueta.js")"></script>
        @RenderSection("scripts", required: false)

        <input type="hidden" id="baseUrlGeral" value="@Url.Content("~/")" />
    
    </body>

</html>