@model WEB.Areas.Pedidos.ViewModels.PedidoProducaoVM

<div class="col-lg-offset-1 col-lg-2 col-xs-6 text-center borderred-silver-right borderred-silver-left">
    <input type="hidden" id="totalPedidosValue" value="@Model.totalPedidos">
    <input type="text" data-max="@Model.totalPedidos" id="totalPedidos" class="dial" data-fgColor="#f39c12">
    <div class="knob-label">
        <a href="javascript:;" target="_blank" style="color: #f39c12; font-weight: bold;">
            Total de Pedidos 
        </a>
    </div>
</div>

<div class="col-lg-2 col-xs-6 text-center borderred-silver-right">
    <input type="hidden" id="totalPedidosAtrasadosValue" value="@Model.totalPedidosAtrasados">
    <input type="text" data-max="@Model.totalPedidos" id="totalPedidosAtrasados" class="dial" data-fgColor="#f56954">
    <div class="knob-label">
        <a href="javascript:;" target="_blank" style="color: #f56954; font-weight: bold;">
            Total de Pedidos Atrasados 
        </a>
    </div>
</div>

<div class="col-lg-2 col-xs-6 text-center borderred-silver-right borderred-silver-left">
    <input type="hidden" id="totalPedidosHojeValue" value="@Model.totalPedidosHoje">
    <input type="text" data-max="@Model.totalPedidos" id="totalPedidosHoje" class="dial" data-fgColor="#f39c12">
    <div class="knob-label">
        <a href="javascript:;" target="_blank" style="color: #f39c12; font-weight: bold;">
            Total de Pedidos para hoje 
        </a>
    </div>
</div>

<div class="col-lg-2 col-xs-6 text-center borderred-silver-right">
    <input type="hidden" id="totalPedidosAmanhaValue" value="@Model.totalPedidosAmanha">
    <input type="text" data-max="@Model.totalPedidos" id="totalPedidosAmanha" class="dial" data-fgColor="#00a65a">
    <div class="knob-label">
        <a href="javascript:;" target="_blank" style="color: #00a65a; font-weight: bold;">
            Total de Pedidos para amanhã 
        </a>
    </div>
</div>

<div class="col-lg-2 col-xs-6 text-center borderred-silver-right">
    <input type="hidden" id="totalPedidosSemanaValue" value="@Model.totalPedidosSemana">
    <input type="text" data-max="@Model.totalPedidos" id="totalPedidosSemana" class="dial" data-fgColor="#00a65a">
    <div class="knob-label">
        <a href="javascript:;" target="_blank" style="color: #00a65a; font-weight: bold;">
            Total de Pedidos para 5 Dias 
        </a>
    </div>
</div>
<div class="clearfix"></div>