@model WEB.Areas.Pedidos.ViewModels.PedidoAcaoCancelamentoForm

@{
    Layout = "~/views/shared/associatec/masterpage-modal.cshtml";

    if (IsPost) {
        Layout = null;
    }

    ViewBag.modalTitle = "Cancelar Pedido";
}

<div id="boxModalCancelamento">
    
    @using(Ajax.BeginForm("cancelar", "PedidoAcaoCancelamento", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "boxModalCancelamento", OnSuccess = "PedidoAcaoCancelamento.onSuccess" })) {
        
        @Html.ValidationSummary(true, "Alguns campos não foram validados")

        { Html.EnableUnobtrusiveJavaScript(false); }

        @Html.HiddenFor(m => m.id)
        
        <div class="col-md-12">
            @Html.labelRequired("Motivo do Cancelamento")
            @Html.TextAreaFor(x => x.motivoCancelamento, new {@class = "form-control input-sm", rows = 6})
            @Html.ValidationMessageFor(x => x.motivoCancelamento)
        </div>
        <div class="clearfix"></div><br />

        <div class="col-xs-12 text-right">
            <button class="btn btn-danger link-loading">
                <i class="fa fa-times-circle"></i> Cancelar
            </button>
        </div>
        <div class="clearfix"></div>

    }

</div>