@model WEB.Areas.Paginas.ViewModels.PaginaEstatutoForm

@using DAL.Permissao.Security.Extensions
@using WEB.Areas.Associacoes.Helpers
@using MvcFlashMessages

@{
    ViewBag.titlePage = "Estatuto";
}

@section styles{
    @Html.includeFroalaEditorCSS()
}

@section scripts{
    @Html.includeFroalaEditorJS()
    
    <script type="text/javascript" src="@UtilConfig.linkResourses()Areas/Paginas/js/paginas.js"></script>
}

@section breadcrump{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("listar")" class="active fs-14"><i class="fa fa-arrow-left"></i> Voltar</a></li>
    </ol>
}

<div class="row">

    <div class="col-sm-12 box-primary">
        
        <div class="nav-tabs-custom">

            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#tab-1" data-toggle="tab">Principal</a></li>
            </ul>
            @using (Html.BeginForm("editar", null, FormMethod.Post, new {role = "form", @class = "tab-content", enctype = "multipart/form-data"})) {

                @Html.RenderFlash()

                @Html.ValidationSummary(false)

                <div id="tab-1" role="tabpanel" class="tab-pane active">

                    <div class="col-sm-12">

                        <div class="row">

                            @Html.infoCadastro(Model.PaginaEstatuto.id, Model.PaginaEstatuto.dtCadastro, null)

                            <div class="clearfix"></div>

                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-sm-12">

                        <h4 class="separator-form">Dados da Página</h4>

                        <div class="row">

                            @if (User.idOrganizacao() == 0) {
                                <div class="col-sm-4 col-md-3">
                                    <label>Organização</label>
                                    @Html.DropDownListFor(m => m.PaginaEstatuto.idOrganizacao, AssociacaoHelper.getInstance.selectList(Model.PaginaEstatuto.idOrganizacao), "Padrão", new {@class = "form-control input-sm", type = "number"})
                                </div>
                                <div class="clearfix"></div>
                            }

                            <div class="col-md-12">
                                @Html.labelRequired("Título")
                                @Html.TextBoxFor(x => x.PaginaEstatuto.titulo, new {@class = "form-control input-sm", maxlength = "255"})
                                @Html.ValidationMessageFor(x => x.PaginaEstatuto.titulo)
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-12">
                                @Html.labelRequired("Conteúdo da Página")
                                @Html.TextAreaFor(x => x.PaginaEstatuto.texto, new {@class = "form-control input-sm froala-editor"})
                                @Html.ValidationMessageFor(x => x.PaginaEstatuto.texto)
                            </div>
                            <div class="clearfix"></div>

                        </div>

                    </div>
                    <div class="clearfix"></div><br/>

                </div>

                <div class="col-sm-12 text-right">
                    @Html.botaoSalvar()
                </div>
                <div class="clearfix"></div><br/>

            }
        </div>
    </div>
</div>