@model WEB.Areas.Financeiro.ViewModels.CategoriaTituloExclusaoVM
@using MvcFlashMessages

@{
    Layout = IsPost ? null : "~/views/shared/associatec/masterpage-modal.cshtml";

    ViewBag.modalTitle = "Excluir Sub-Conta";
    ViewBag.modalWidthClass = "md";
}

<div id="@(IsPost ? "" : "boxFormSubConta")">

    @Html.RenderFlash()

    <div class="col-xs-12">
        <div class="row">
            @using (Ajax.BeginForm("excluir-sub-conta", null, new AjaxOptions { UpdateTargetId = "boxFormSubConta", HttpMethod = "POST", OnSuccess = "ComboSubConta.onSuccessSubContaExcluir" }, new { role = "form", @class = "default" })) {

                @Html.RenderFlash()

                @Html.HiddenFor(x => x.idCategoria)
                @Html.HiddenFor(x => x.idMacroConta)

                if (Model.qtdItens > 0) {
                    <div class="alert alert-danger">
                        <p>Existem @Model.qtdItens titulo(s) associado(s) a essa sub conta. Para excluir a sub conta é necessário que indique outra sub conta para esses titulos.</p>
                    </div>

                    <h4 class="separator-form-icon"><i class="fa fa-exchange"></i>Substituir Sub-Conta @Model.nomeSubConta</h4>

                    <div class="form-horizontal">
                        
                        <div class="col-sm-6">
                            @Html.labelRequired("Macro Conta")
                            @Html.DropDownListFor(m => m.idMacroContaNova, MacroContaHelper.getInstance.selectList(Model.idMacroContaNova, false), "", new {id = "idMacroContaForm", @class = "form-control input-sm", onchange = "PlanoContas.carregarSubConta('"+Model.idCategoria+"')"})
                            @Html.ValidationMessageFor(m => m.idMacroContaNova)
                        </div>
                    
                        <div class="col-sm-6">
                            @Html.Label("Sub Conta")
                            @Html.DropDownListFor(m => m.idCategoriaNova, CategoriaTituloHelper.getInstance.selectList(Model.idCategoriaNova, 0, false, new List<int> {Model.idCategoria}), "...", new { id = "idCategoriaNova", @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.idCategoriaNova)
                        </div>

                        <div class="clearfix"></div>

                    </div>
                } else {
                    <div class="alert alert-info">
                        <p>Não há título associado a essa sub conta</p>
                    </div>
                }

                <div class="clearfix"></div><br/>

                <div class="text-right">
                    <input type="submit" class="btn btn-danger link-loading" value="Confirmar Exclusão" />
                </div>
            }
        </div>
    </div>
</div>
<div class="clearfix"></div><br />

