@using MvcFlashMessages
@using BLL.Configuracoes
@using WEB.Areas.Permissao.Helpers
@model WEB.Areas.Financeiro.ViewModels.MacroContaForm

@{
    Layout = IsPost ? null : "~/views/shared/associatec/masterpage-modal.cshtml";

    ViewBag.modalTitle = "Cadastrar Macro Conta";

    var OConfigFinanceiro = ConfiguracaoFinanceiroBL.getInstance.carregar();
}

<div id="@(IsPost ? "" : "boxFormMacroConta")">

    @Html.RenderFlash()

    <div class="col-xs-12">
        <div class="row">
            @using (Ajax.BeginForm("salvar-macro-conta", null, new AjaxOptions { UpdateTargetId = "boxFormMacroConta", HttpMethod = "POST", OnSuccess = "ComboMacroConta.onSuccessMacroConta" }, new { id="formMacroConta", role = "form", @class = "default" })) {
                
                @Html.legendaRequired()

                @Html.ValidationSummary(false)

                @Html.HiddenFor(x => x.MacroConta.id)
                @Html.HiddenFor(x => x.group)

                <h4 class="separator-form-icon"><i class="far fa-edit"></i> Dados Principais da Macro Conta</h4>

                <div class="form-horizontal">
                    
                    <div class="col-sm-4">
                        <label>Usar para receita ou despesa?</label>
                        @Html.DropDownListFor(m => m.MacroConta.flagReceitaDespesa, MacroContaHelper.getInstance.selectListReceitaDespesa(Model.MacroConta.flagReceitaDespesa), "", new {id = "flagReceitaDespesa", @class = "form-control input-sm", onchange = "ComboMacroConta.verificarTipoMacroConta(this)"})
                        @Html.ValidationMessageFor(m => m.MacroConta.flagReceitaDespesa)
                    </div>

                    <div class="col-sm-8">
                        @Html.labelRequired("Descrição")
                        @Html.TextBoxFor(m => m.MacroConta.descricao, new {@class = "form-control input-sm", maxlength = "100"})
                        @Html.ValidationMessageFor(m => m.MacroConta.descricao)
                    </div>

                    <div class="clearfix"></div>

                    @if (OConfigFinanceiro.flagAprovarContas == true) {
                        <div id="boxUsuarioAprovacao" class="col-md-5">
                            <label>Usuário Aprovação Custo</label>
                            @Html.DropDownListFor(m => m.MacroConta.idUsuarioAprovacao, UsuarioSistemaHelper.getInstance.selectList(Model.MacroConta.idUsuarioAprovacao, 0), "...", new {@class = "form-control input-sm"})
                        </div>
                    }
                    
                    
                    <div class="col-md-4">
                        <label>Código Fiscal</label>
                        @Html.TextBoxFor(m => m.MacroConta.codigoFiscal, new {@class = "form-control input-sm", maxlength = "10"})
                    </div>

                    @*<div class="col-md-5">
                        <label>Centro de Custo DRE</label>
                        @Html.DropDownListFor(m => m.MacroConta.idCentroCustoDRE, CentroCustoHelper.getInstance.selectList(Model.MacroConta.idCentroCustoDRE), "Selecione...", new { @class = "form-control input-sm select2" })
                        @Html.ValidationMessageFor(m => m.MacroConta.idCentroCustoDRE)
                    </div>*@

                    <div class="col-md-3">
                        <label>Status</label>
                        @Html.DropDownListFor(m => m.MacroConta.ativo, ComboHelper.selectListStatus(Model.MacroConta.ativo), new {@class = "form-control input-sm"})
                        @Html.ValidationMessageFor(m => m.MacroConta.ativo)
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="clearfix"></div>

                <h4 class="separator-form">Centro de Custo</h4>
                <div class="col-md-12">

                    @if (Model.listaCentroCusto.Any()) {

                        for (int index = 0; index < Model.listaCentroCusto.Count; index++) {

                            var Item = Model.listaCentroCusto[index];

                            @Html.HiddenFor(x => x.listaSelecionados[index].id)

                            <label class="btn btn-default width-150" style="text-align: left !important">
                                @Html.CheckBoxFor(x => x.listaSelecionados[index].isChecked, new { @class = "item-check v-align-bottom" }) @Item.descricao
                            </label>

                        }
                    }
                </div>
                <div class="clearfix"></div><br/>

            }
        </div>
    </div>
</div>
<div class="clearfix"></div><br />

@section modalFooter{
    <div class="text-right">
        <input type="button" onclick="$('#formMacroConta').submit()" class="btn btn-primary link-loading" value="Salvar Dados" />
    </div>
    
}

