@model WEB.Areas.Financeiro.ViewModels.FormaPagamentoForm
@{
    Layout = "~/views/shared/associatec/masterpage-edit.cshtml";
    ViewBag.titlePage = "Forma de Pagamento";
}

@section navTabs{
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab-1" data-toggle="tab">Principal</a></li>
	</ul>
}


@section tabContent{
	<div id="tab-1" class="tab-pane active">
		@{Html.RenderPartial("partial-info-cadastro");}

     @using(Html.BeginForm("editar",null,FormMethod.Post,new { role = "form",@class = "default" })) {
        @Html.legendaRequired()<br />
        @Html.HiddenFor(m => m.FormaPagamento.id)
        @Html.ValidationSummary(true,"Confira os erros do formulário.")

        <div class="form-horizontal">

            <div class="col-md-4">
                @Html.labelRequired("Descrição")
                @Html.TextBoxFor(m => m.FormaPagamento.descricao,new { @class = "form-control input-sm",maxlength = "100" })
                @Html.ValidationMessageFor(m => m.FormaPagamento.descricao)
            </div>

            <div class="col-md-2">
                <label>Status</label>
                @Html.DropDownListFor(m => m.FormaPagamento.ativo,ComboHelper.selectListStatus(Model.FormaPagamento.ativo),new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.FormaPagamento.ativo)
            </div>
            <div class="clearfix"></div>

        </div>
        <div class="clearfix"></div>
        <br /><br />

        <div class="col-md-6">
            <div class="text-right">
                @Html.exibirBotoesFormulario(Url.Action("listar"), "N", Url.Action("editar", new { id = 0}))
            </div>
        </div>
     }
	</div><div class="clearfix"></div>
}

