@model WEB.Areas.Pedidos.ViewModels.PedidoProducaoImpressaoVM

@using BLL.Configuracoes
@using DAL.Pessoas

<tbody>
    <tr>
        <td class="padding-10" width="150" align="center">
            <img src="@ConfiguracaoImagemBL.urlSistemaPrint" width="120" />
        </td>

        <td class="padding-10" align="center">

            <strong class="fs-12">@Model.DadosAssociacao.Pessoa.nome</strong><br />

            <span class="fs-9"><strong>CNPJ:</strong> @UtilString.formatCPFCNPJ(Model.DadosAssociacao.Pessoa.nroDocumento)</span><br />

            @{ var OEndereco = Model.DadosAssociacao.Pessoa.retornarListaEnderecos().FirstOrDefault(); }

            <span>@OEndereco.formatarEnderecoCompleto()</span><br />
            
            @if(!Model.DadosAssociacao.Pessoa.enderecoWeb.isEmpty()) {
                <span>@Model.DadosAssociacao.Pessoa.enderecoWeb</span><br />
            }

            <br /><span>Data da Impressão: @DateTime.Today.exibirData()</span>
        </td>

        <td class="padding-10" align="center">

            @if(!Model.DadosAssociacao.Pessoa.nroTelPrincipal.isEmpty()) {
                <span class="fs-10"><i class="fa fa-phone"></i> @Model.DadosAssociacao.Pessoa.dddTelPrincipal @Model.DadosAssociacao.Pessoa.nroTelPrincipal</span>
            }

            @if(!Model.DadosAssociacao.Pessoa.nroTelSecundario.isEmpty()) {
                <br /><span class="fs-10"><i class="fa fa-phone"></i> @Model.DadosAssociacao.Pessoa.dddTelSecundario @Model.DadosAssociacao.Pessoa.nroTelSecundario</span>
            }
            
            @if(!Model.DadosAssociacao.Pessoa.emailPrincipal.isEmpty()) {
                <br /><span class="fs-10"><i class="fa fa-envelope"></i> @Model.DadosAssociacao.Pessoa.emailPrincipal</span>
            }
        </td>
    </tr>
<tbody>