@model WEB.Areas.Instituicoes.ViewModels.InstituicaoForm

@using DAL.Permissao.Security.Extensions
@using WEB.Areas.Associacoes.Helpers


@using (Html.BeginForm("editar", null, FormMethod.Post, new { role = "form", @class = "default" })){
	
    @Html.ValidationSummary(false)

	@Html.HiddenFor(m => m.Instituicao.id)

    @Html.HiddenFor(m => m.Instituicao.dtCadastro)

    @Html.HiddenFor(m => m.Instituicao.dtAlteracao)

    <h4 class="separator-form">Dados Principais da Instituição</h4>

	<div class="form-horizontal">

        @if (User.idOrganizacao() == 0) {
	        <div class="col-lg-3 col-md-3 col-sm-4">
		        <label>Organização</label>
		        @Html.DropDownListFor(m => m.Instituicao.idOrganizacao, AssociacaoHelper.getInstance.selectList(Model.Instituicao.idOrganizacao), "Padrão", new {@class = "form-control input-sm"})
	        </div>
        }

        <div class="col-lg-6 col-md-9 col-sm-9">
            @Html.labelRequired("Nome da Instituição")
            @Html.TextBoxFor(m => m.Instituicao.descricao, new { @class = "form-control input-sm", maxlength = "100" })
            @Html.ValidationMessageFor(m => m.Instituicao.descricao)
        </div>

        <div class="clearfix"></div>

	    <div class="col-lg-2 col-md-3 col-sm-4">
            <label>Sigla</label>
            @Html.TextBoxFor(m => m.Instituicao.sigla,  new { @class = "form-control input-sm", maxlength="20" })
            @Html.ValidationMessageFor(m => m.Instituicao.sigla)
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4">
            <label>Certificadora</label>
            @Html.DropDownListFor(m => m.Instituicao.flagCertificadora, ComboHelper.selectListTrueFalse(Model.Instituicao.flagCertificadora), "...", new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(m => m.Instituicao.flagCertificadora)
            @Html.instrucao("Instituição fornece títulos ou certificações?")
        </div>
	    <div class="col-lg-2 col-md-2 col-sm-4">
	        <label>Status</label>
	        @Html.DropDownListFor(m => m.Instituicao.ativo, ComboHelper.selectListStatus(Model.Instituicao.ativo), "...", new {@class = "form-control input-sm"})
	        @Html.ValidationMessageFor(m => m.Instituicao.ativo)
	    </div>
	    <div class="clearfix"></div>


        <div class="col-lg-6 col-md-9 col-sm-9">
            <label>Observação</label>
            @Html.TextAreaFor(m => m.Instituicao.observacao, new { @class = "form-control input-sm", rows = 4 })
            @Html.ValidationMessageFor(m => m.Instituicao.observacao)
        </div>
        <div class="clearfix"></div>

	</div>
	<div class="clearfix"></div><br />

    <div class="text-right col-lg-6 col-md-9">
        @Html.exibirBotoesFormulario(Url.Action("listar"), "N", Url.Action("editar"))
    </div>
	<div class="clearfix"></div><br />
}
