@using MvcFlashMessages
@model WEB.Areas.ConfiguracoesTextos.Models.Forms.ConfiguracaoPromocaoForm

@{ ViewBag.titlePage = "Configurações de Operações de Compra"; }

@section scripts {
    @Html.includeDatePicker();
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    
    <script type="text/javascript">
        $('#btkMask').on('keyup',() => {
            $('#btkMask').mask('###.###.###,####', { reverse: true });
        })
    </script>
}
<div class="row">
    <div class="col-sm-12 box-primary">
        <div class="nav-tabs-custom">

            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#tab-notificacoes" data-toggle="tab">Principal</a>
                </li>
            </ul>
            
            @using (Html.BeginForm("editar", null, FormMethod.Post, new {role = "form", @class = "tab-content", enctype = "multipart/form-data"})) {
                
                @Html.HiddenFor(x => x.ConfiguracaoPromocao.id);
                
                @Html.RenderFlash()
                @Html.ValidationSummary(false)

                <div class="active tab-pane" id="tab-notificacoes" role="tabpanel">

                    <div class="col-sm-12">

                        <div class="row">
                            @infoCadastro()

                            <h4 class="separator-form-icon">
                                <i class="fa-edit far"></i>
                                Configuração de promoções
                            </h4>

                            <div class="col-sm-3">
                                <label>Descrição da Promoção.</label>
                                @Html.TextBoxFor(m => m.ConfiguracaoPromocao.descricao, new {@class = "form-control input-sm"})
                                @Html.ValidationMessageFor(m => m.ConfiguracaoPromocao.descricao)
                            </div>

                            <div class="col-sm-3">
                                <label>Data de Início</label>
                                @Html.TextBoxFor(m => m.ConfiguracaoPromocao.dtInicioPremioNovoMembro, new {@class = "form-control input-sm input-datepicker", alt = "date"})
                                @Html.ValidationMessageFor(m => m.ConfiguracaoPromocao.dtInicioPremioNovoMembro)
                            </div>

                            <div class="col-sm-3">
                                <label>Data de Final</label>
                                @Html.TextBoxFor(m => m.ConfiguracaoPromocao.dtFimPremioNovoMembro, new {@class = "form-control input-sm input-datepicker", alt = "date"})
                                @Html.ValidationMessageFor(m => m.ConfiguracaoPromocao.dtFimPremioNovoMembro)
                            </div>

                            <div class="col-sm-3">
                                <label>Qtd de BTK'S</label>
                                @Html.TextBoxFor(m => m.ConfiguracaoPromocao.valorPremioNovoMembro, new {@class = "form-control input-sm ", id = "btkMask"})
                                @Html.ValidationMessageFor(m => m.ConfiguracaoPromocao.valorPremioNovoMembro)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-sm-12 text-right padtop18">
                    @Html.botaoSalvar()
                </div>
                <div class="clearfix"></div>
            }
        </div>
    </div>
</div>

@helper infoCadastro() {
    if (Model.ConfiguracaoPromocao.id > 0) {
        <div class="col-sm-4 col-md-2">
            <label>Cadastro</label>
            @Html.boxInfo(Model.ConfiguracaoPromocao.dtCadastro.exibirData(true), "text-center")
        </div>
        <div class="col-sm-6 col-md-4">
            <label>Usuário</label>
            @Html.boxInfo(Model.ConfiguracaoPromocao.UsuarioCadastro?.nome, "text-left")
        </div>
        <div class="clearfix"></div><br />
    }
}

