@model WEB.Areas.Ajudas.ViewModels.AjudaModuloForm
@using WEB.Areas.Ajudas.Helpers
@using WEB.Areas.Arquivos.Helpers
@using WEB.Helpers

@{
    Layout = "~/views/shared/associatec/masterpage-edit.cshtml";

    ViewBag.titlePage = "Módulos";
    ViewBag.subTituloPagina = Model.AjudaModulo.titulo;
}

@section styles{
	
	@Html.includeCSSModuloArquivos()

	@Html.includeFroalaEditorCSS()

}

@section scripts{

    @Html.includeDatePicker()

	@Html.includeJSModuloArquivosFotos()

	@Html.includeFroalaEditorJS()

    <script src="~/Areas/Publicacoes/js/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/Areas/Publicacoes/js/noticia.js?v=1"></script>
    <script src="~/Areas/Publicacoes/js/categoria-noticia.js?v=1"></script>
}

@section breadcrump{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("listar")" class="active fs-14"><i class="fa fa-arrow-left"></i> Voltar</a></li>
    </ol>
}


@section navTabs{
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-1" data-toggle="tab">Principal</a></li>
    </ul>
}

@section tabContent{
    <div id="tab-1" class="tab-pane active">

        @Html.infoCadastro(Model.AjudaModulo.id, Model.AjudaModulo.dtCadastro, Model.AjudaModulo.dtAlteracao)

        @using (Html.BeginForm("editar", "AjudaModulo", FormMethod.Post, new { enctype = "multipart/form-data" })) {

            { Html.EnableClientValidation(false); }

            @Html.ValidationSummary(true, "Alguns campos não foram validados.")

            @Html.HiddenFor(m => m.AjudaModulo.id)

            <h4 class="separator-form">Dados Principais da(o) Notícia/Informativo</h4>

            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-12">

                        <div class="row">
                            
                            <div class="col-md-6">
                                @Html.Label("Categoria")
                                @Html.DropDownListFor(m => m.AjudaModulo.idCategoriaAjuda, AjudaCategoriaHelper.getInstance.selectList(Model.AjudaModulo.idCategoriaAjuda), "...", new {@class = "form-control input-sm"})
                                @Html.ValidationMessageFor(x => x.AjudaModulo.idCategoriaAjuda)
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-md-6">
                                <label>Título</label><br/>
                                @Html.TextBoxFor(x => x.AjudaModulo.titulo, new {@class = "form-control input-sm", maxlength = "100"})
                                @Html.ValidationMessageFor(x => x.AjudaModulo.titulo)
                            </div>
                            
                            <div class="col-md-6">
                                <label>Chamada</label><br/>
                                @Html.TextBoxFor(x => x.AjudaModulo.chamada, new {@class = "form-control input-sm", maxlength = "100"})
                                @Html.ValidationMessageFor(x => x.AjudaModulo.chamada)
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-md-6">
                                <label>Embed Vídeo</label>
                                @Html.TextAreaFor(x => x.AjudaModulo.embedVideo, new { @class = "form-control input-sm", maxlength = "250", rows = "3" })
                                @Html.ValidationMessageFor(m => m.AjudaModulo.embedVideo)
                            </div>

                            <div class="col-md-3">
                                <label>Ordem</label>
                                @Html.TextBoxFor(x => x.AjudaModulo.ordem, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.AjudaModulo.ordem)
                            </div>

                            <div class="col-md-3">
                                <label>Status</label>
                                @Html.DropDownListFor(m => m.AjudaModulo.ativo, ComboHelper.selectListStatus(Model.AjudaModulo.ativo), "...", new {@class = "form-control input-sm"})
                                @Html.ValidationMessageFor(m => m.AjudaModulo.ativo)
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>

            <div class="col-md-12">
                <h4 class="separator-form">Descrição</h4>
                <div class=''>
                    <div class='box-header'>
                        <div class="pull-right box-tools">
                        </div>
                    </div>
                    <div class='box-body pad'>
                        @Html.TextAreaFor(x => x.AjudaModulo.descricao, new { @id = "editor", @class = "form-control input-sm", rows="7" })
                        @Html.ValidationMessageFor(x => x.AjudaModulo.descricao)
                    </div>
                </div>
            </div>

            <div class="clearfix"></div><br />

	        <div class="text-right">
		        @Html.exibirBotoesFormulario(Url.Action("listar"), "N", Url.Action("editar"))
	        </div>

            <div class="clearfix"></div>

            
        }
    </div>
}
