@model DAL.Associados.Associado
@using BLL.ConfiguracoesTextos.Extensions
@using DAL.Permissao.Security.Extensions

<div class="tab-pane" id="tab-cobrancas">
    <div>
        <button class="btn btn-md bg-green" onclick="DefaultSistema.showModal('@Url.Action("modal-contribuicao-padrao", "AssociadoContribuicaoPadrao", new {area="AssociadosContribuicoes", idAssociado = Model.id})')">
            <i class="fa fa-edit fs-16"></i>
            @exibirCobrancaPadrao()
        </button>
    </div>

    <h4 class="separator-form-icon"><i class="far fa-edit"></i> Gerar cobrança para o @Html.labelTexto(User.idOrganizacao(), "lblAssociado", "associado")</h4>
    <div id="boxLoadFormCobranca" class="content-load carregando" data-url="@Url.Action("partial-form-editar", "associadocontribuicao", new {area = "associadoscontribuicoes", idAssociado = Model.id})"></div>
    <br />

    <h4 class="separator-form-icon"><i class="far fa-edit"></i> Cobranças registradas para o @Html.labelTexto(User.idOrganizacao(), "lblAssociado", "associado")</h4>
    <div id="boxLoadListaCobranca" class="carregando" data-url="@Url.Action("partial-listar-cobrancas", "associadocontribuicao", new {area = "associadoscontribuicoes", idAssociado = Model.id})"></div>

</div>

@helper exibirCobrancaPadrao() {

if (Model.TipoAssociado == null) {
        <span><em><i class="fa fa-exclamation"></i> Sem tipo cadastrado</em></span>
    return;
}



}
