@model WEB.Areas.Localizacao.ViewModels.EstadoVM

@using WEB.Areas.Localizacao.Helpers

@{
    ViewBag.titlePage = (Model.Estado.id > 0 ? String.Format("Editar Estado {0}", Model.Estado.nome) : "Novo Estado");
}

@section breadcrump{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("listar")" class="active fs-14"><i class="fa fa-arrow-left"></i> Voltar</a></li>
    </ol>
}

<div class="row">
    <div class="col-sm-12 box-primary">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-1" data-toggle="tab">Principal</a></li>
            </ul>
            <div id="tab-1" class="tab-pane active">

                @{ Html.RenderPartial("partial-info-cadastro"); }

                @using (Html.BeginForm("editar", null, FormMethod.Post, new { @class = "", enctype = "multipart/form-data" })) {

				    @Html.legendaRequired()<br />

                    { Html.EnableClientValidation(false); }

                    { Html.EnableUnobtrusiveJavaScript(false); }

                    @Html.ValidationSummary(true, "Alguns campos não foram validados.")

                    @Html.HiddenFor(m => m.Estado.id)

                    <div class="form-horizontal">

                        <div class="col-md-6">

                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Dados do Estado</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">

                                        <div class="col-md-8">
					                        @Html.labelRequired("Estado")
					                        @Html.TextBoxFor(m => m.Estado.nome, new { @class = "form-control input-sm" })
					                        @Html.ValidationMessageFor(m => m.Estado.nome)
				                        </div>

				                        <div class="col-md-4">
					                        @Html.labelRequired("Sigla")
					                        @Html.TextBoxFor(m => m.Estado.sigla, new { @class = "form-control input-sm", maxlength = "2" })
					                        @Html.ValidationMessageFor(m => m.Estado.sigla)
				                        </div>
                                        <div class="clearfix"></div>

                                        <div class="col-md-4">
					                        @Html.labelRequired("País")
					                        @Html.DropDownListFor(m => m.Estado.idPais, PaisHelper.selectList(Model.Estado.idPais), "...", new { @class = "form-control input-sm" })
					                        @Html.ValidationMessageFor(m => m.Estado.idPais)
				                        </div>
				                        <div class="col-md-4">
					                        <label>Código IBGE</label>
					                        @Html.TextBoxFor(m => m.Estado.idIBGE, new { @class = "form-control input-sm" })
					                        @Html.ValidationMessageFor(m => m.Estado.idIBGE)
				                        </div>
				                        
				                        <div class="col-md-4">
					                        <label>Status</label>
					                        @Html.DropDownListFor(m => m.Estado.ativo, ComboHelper.selectListYesNo(Model.Estado.ativo), "...", new { @class = "form-control input-sm" })
					                        @Html.ValidationMessageFor(m => m.Estado.ativo)
				                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-12 text-right">
                        @Html.exibirBotoesFormulario(Url.Action("listar"), Model.Estado.flagSistema, Url.Action("editar", new { id = 0 }))
                    </div>
                    <div class="clearfix"></div><br />

                }

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>