@model WEB.Areas.AssociadosOperacoes.ViewModels.AssociadoTipoAlteracaoForm

@{
	ViewBag.modalTitle = "Alteração de Tipo de Associado(s)";
	ViewBag.modalWidthClass = "lg";

    if (UtilRequest.getBool("IsPost") == true) {
		Layout = null;
	} else {
		Layout = "~/views/shared/associatec/masterpage-modal.cshtml";
	}
}

<div id="boxFormTipoAlteracao">
    
    @using (Ajax.BeginForm("alterar-tipo", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "boxFormTipoAlteracao", InsertionMode = InsertionMode.Replace, OnSuccess = "AssociadoTipoAlteracao.onSuccessFormTipoAlteracao" }, new { id = "formTipoAlteracao" })) {

        { Html.EnableClientValidation(false); }

        @Html.Hidden("IsPost", true)

        <div class="field" style="display:none">
            @Html.EditorFor(m => m.idsAssociados)
        </div>

        <div class="row">

            <div class="col-sm-12">
                <div class="alert alert-warning">
                    <i class="fa fa-exclamation-triangle"></i> É necessário que o associado esteja ativo para que seja possível alterar o seu tipo/categoria    
                </div>
            </div>

            <div class="col-sm-6">

                <div class="row">

                    <div class="col-md-4 col-sm-6">
                        @Html.labelRequired("Novo Tipo de Associado")
                        @Html.DropDownListFor(m => m.idTipoAssociado, TipoAssociadoHelper.getInstance.selectList(0, "", false, true), "", new {@class = "form-control input-sm"})
                        @Html.ValidationMessageFor(m => m.idTipoAssociado)
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12">
                        <label>Motivo da Alteração</label>
                        @Html.TextAreaFor(m => m.motivoAlteracao, new {@class = "form-control input-sm", rows = "9"})
                        @Html.ValidationMessageFor(m => m.motivoAlteracao)
                    </div>
                    <div class="clearfix"></div>

                </div>

            </div>

            <div class="col-sm-6">

                <label>@Model.listaAssociados.Count() membros selecionados</label>

                <div id="boxAssociadosSelecionados" class="hide">

                    @if (Model.listaAssociados.Count() > 1000)
                    {

                        <div class="alert alert-info">

                            Você selecionou mais de 1000 membros para alterar a data de admissão e, por motivo de desempenho,
                            a lista com o detalhe dos membros não será exibida, porém todos os membros selecionados
                            serão alterados.

                        </div>

                    }

                    @if (Model.listaAssociados.Count() <= 1000)
                    {

                        foreach (var OAssociado in Model.listaAssociados)
                        {

                            <div class="box-info-item">

                                <div class="row">

                                    <div class="col-md-12">

                                        <span class="titulo">
                                            <i class="fa fa-user"></i> @OAssociado.nome
                                        </span><br>

                                        <span># @(OAssociado.nroAssociado ?? OAssociado.id)</span> <em>(@OAssociado.descricaoTipoAssociado)</em>

                                    </div>

                                </div>

                            </div>

                        }

                    }

                </div>

            </div>

            <div class="clearfix"></div>

        </div>

    }
</div>

@section modalFooter{
	<div class="text-right">
		<input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal"  aria-hidden="true" />
		<input type="button" value="Confirmar Alteração" class="btn btn-primary link-loading" onclick="$('#formTipoAlteracao').submit();" />
	</div>
}