@model PagedList.IPagedList<DAL.Ajudas.AjudaCategoria>

@using PagedList.Mvc
@using WEB.Helpers

@{
	ViewBag.titlePage = "Categorias de Ajuda Cadastradas";
}

@section scripts{
    <script src="~/areas/ajudas/js/ajuda-categoria.js"></script>
}

<div class="box box-primary">

    @Html.headerBox("Filtros de Busca", "fa fa-filter")

    <div class="box-body">

        @using (Html.BeginForm(null, null, FormMethod.Get, new {@class = "filtros"})) {

            <div class="form-group col-xs-7"></div>

            <div class="form-group col-xs-2">
                <label>Status</label>
                @Html.DropDownList("flagAtivo", ComboHelper.selectListStatus(UtilRequest.getBool("flagAtivo")), "Todos", new {@class = "form-control input-sm"})
            </div>

            <div class="form-group col-xs-3">
                <label>Buscar</label>
                @Html.buttonSearch(UtilRequest.getString("valorBusca"))
            </div>
            <div class="clearfix"></div>

        }

    </div>

</div>

<div class="box box-primary">

	@Html.headerBox("Resultados", "fa fa-list")

	<div class="box-body">

		<div class="btn-group">
		    
            <a href="javascript:void(0);" data-url="@Url.Action("excluir")" class="btn btn-default btn-flat" title="Remover itens selecionados" onclick="return DefaultAction.removeAll(this);">
		        <i class="fa fa-trash"></i>
		    </a>

		    <a href="javascript:void(0);" onclick="AjudaCategoria.modalAjudaCategoria(this)" data-url="@Url.Action("modal-cadastrar", "AjudaCategoria", new {area = "Ajudas"})" data-toggle="tooltip" class="btn btn-default btn-flat" title="Adicionar novo registro">
		        <i class="far fa-plus-circle"></i>
		    </a>

		</div>

        <table class="table table-bordered table-striped dataTable">
			<thead>
				<tr role="row">
					<th class="width-50 text-center"><input type="checkbox" name="marcarTodos" data-childs="checkRegistro[]" id="checkMarcarTodos" /></th>
				    <th>Descrição</th>
                    <th width="125">Cadastro</th>
					<th class="width-100">Status</th>
                    <th width="75">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				@if(!Model.Any()) {
                    <tr>
                        <td class="text-center" colspan="5">Nenhum registro cadastrado</td>
                    </tr>
                }
			
                @foreach (var Item in Model) {
					<tr>
						<td class="text-center"><input type="checkbox" name="checkRegistro[]" value="@Item.id" /></td>
					    <td>
					        @Item.descricao
					    </td>
                        <td class="text-center">@Item.dtCadastro.exibirData(true)</td>
                        <td class="text-center">
                            @Html.linkStatusDefault(Item.id, Item.ativo)
                        </td>
                        <td class="text-center box-acoes">
                            <a href="javascript:void(0);" onclick="AjudaCategoria.modalAjudaCategoria(this)" data-url="@Url.Action("modal-cadastrar", "AjudaCategoria", new {area = "Ajudas", Item.id})" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i></a>
                            @Html.linkAjaxExcluir(Item.id, "N")
						</td>
					</tr>
				}
			
        </tbody>
	</table>
    @(Html.paginarRegistros(Model, Html.PagedListPager(Model, nroPagina => UtilRequest.linkPaginacao(nroPagina, "listar"), PagedListRenderOptions.OnlyShowFivePagesAtATime)))

	</div>

</div>