@model WEB.Areas.Financeiro.ViewModels.PagamentosRecebidosVM

@using DAL.Financeiro
@using PagedList.Mvc

@{
	ViewBag.titlePage = "Recebimentos";
	ViewBag.subTitlePage = "Veja abaixo a relação de títulos recebidos.";
}

@section styles{
    <link href="@UtilConfig.linkResourses()css/associatec/list-custom.css" rel="stylesheet"/>
    <link href="@UtilConfig.linkResourses()css/associatec/modulos/widgets.css" rel="stylesheet" />
}

@section scripts{
    @Html.includeDatePicker()
}

<div class="row">

    <div class="col-md-9">
        <div class="box box-primary">
            @Html.headerBox("Filtros de Busca", "fa fa-filter")
            <div class="box-body">
                @{ Html.RenderPartial("partial-filtros"); }
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="box box-primary">
            @Html.headerBox("Resumo", "far fa-chart-bar")
            <div class="box-body">
                @{ Html.RenderPartial("partial-widget-resumo"); }
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

</div>

<div class="box box-primary">

    @Html.headerBox($"Resultados - <em class='fs-10'>Foram localizados {Model.listaPagamentos.TotalItemCount} pagamentos</em>", "fa fa-list")

    <div class="box-body">

        @if(!Model.listaPagamentos.Any()) {

            <div class="col-sm-12">
                <div class="alert alert-info">
                    Nenhum recebimento foi encontrado.
                </div>
            </div>

        }

        @foreach (var Item in Model.listaPagamentos) {

            <div class="box-info-item">

                <div class="row">

                    <div class="col-sm-12">
                        <a href="@Url.Action("editar", "ReceitaDetalhe", new { id = Item.idTituloReceita, urlRetorno = Url.Action("listar", "LancamentoRecebimento", new { area = "FinanceiroLancamentos" }) })" target="_blank">
                            <i class="far fa-money-bill"></i> <strong>@Item.idTituloReceita - @Item.descricaoTitulo.ToUpperNullable()</strong>
                        </a>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">

                        <span><i class="fa fa-user"></i> @Item.nomePessoa.ToUpper()</span><br />

                        <em>(@Item.descricaoMeioPagamento)</em>

                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3">

                        <span><i class="fa fa-calendar"></i> <strong>Vecimento:</strong> @Item.dtVencimento.exibirData()</span><br/>

                        <span><i class="fa fa-calendar"></i> <strong>Pagamento:</strong> @Item.dtPagamento.exibirData()</span>

                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3">

                        <span><i class="fa fa-usd"></i> <strong>Valor:</strong> @Item.valorOriginal.ToString("F")</span><br/>

                        <span><i class="fa fa-usd"></i> <strong>Tarifas:</strong> @Item.valorTotalTarifas().ToString("F")</span>

                    </div>
                    <div class="clearfix"></div>

                </div>

            </div>

        }

        @(Html.paginarRegistros(Model.listaPagamentos, Html.PagedListPager(Model.listaPagamentos, nroPagina => UtilRequest.linkPaginacao(nroPagina, "listar"), PagedListRenderOptions.OnlyShowFivePagesAtATime)))

    </div>

</div>