@model  WEB.Areas.Arquivos.ViewModels.ArquivoUploadVM

@using (Html.BeginForm("editar-documento", "arquivo", FormMethod.Post, new { enctype = "multipart/form-data", @class = "default" })) {
    @Html.ValidationSummary(true, "Erro. Não foi possível concluir a operação, verifique os campos.")
    @Html.HiddenFor(m => m.id)
    @Html.HiddenFor(m => m.entidade)
    @Html.HiddenFor(m => m.idReferenciaEntidade)
    @Html.HiddenFor(m => m.categoria)
    @Html.Hidden("redirecionar_controller", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())

    <div class="col-md-3">
	    <label>Arquivo/Imagem</label>
        <input type="file" name="FileUpload" id="FileUpload" class="form-control input-sm" />
        @Html.ValidationMessageFor(m => m.FileUpload)
    </div>
        
    <div class="col-md-3">
		<label>Título</label>
        @Html.TextBoxFor(m => m.titulo, new { @class = "form-control input-sm", })
        @Html.ValidationMessageFor(m => m.titulo)
    </div>
        
    <div class="col-md-4">
		<label>Legenda</label>
        @Html.TextBoxFor(m => m.legenda, new { @class = "form-control input-sm", })
        @Html.ValidationMessageFor(m => m.legenda)
    </div>
    
    <div class="col-md-1 padding-top-20">
        <label>&nbsp;</label>
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
    
    <div class="clearfix"></div>
    <br />
    
}
