@model  List<ArquivoUpload>
@using DAL.Arquivos

<table class="table table-bordered table-striped dataTable reorder">
	<thead>
	<tr>
		<th class="width-25"></th>
		<th>Imagem</th>
		<th>Legenda/Título</th>
		<th width="100">Foto ativa?</th>
		<th width="50">&nbsp;</th>
	</tr>
	</thead>
	<tbody id="listaFotos" class="reorderPanel" data-url="@Url.Action("ordenar")">
	@if (Model.Count > 0) {
        int cont = 1;
        foreach (ArquivoUpload Item in Model) {
            <tr id="orderItem-@Item.id">
                <td class="text-center">@cont</td>
                <td class="text-center"><a href="~/@Item.srcImg()" class="fancy" rel="galeria-fotos"><img src="~/@Item.srcImgThumb()" height="50" title="@Item.titulo" /></a></td>
                <td class="text-center">
                    <a href="#" data-type="text" data-pk="@Item.id" data-name="legenda" data-url="@Url.Action("alterar-dados", "arquivo", new {area = "arquivos"})" data-value="@Item.legenda" data-title="Editar Legenda" class="txtEditable">@(!String.IsNullOrEmpty(Item.legenda) ? Item.legenda : "-")</a>
                </td>
                <td class="text-center">@Html.linkAjaxStatus(Item.id, Item.ativo, Url.Action("alterar-status", "arquivo", new { area = "arquivos" })) </td>
                <td class="text-center box-acoes">@Html.linkAjaxExcluir(Item.id, "N", Url.Action("excluir", "arquivo", new { area = "arquivos" })) </td>
            </tr>  cont++;
        }
    } else {
		<tr>
			<td class="text-center" colspan="5">Nenhuma imagem disponível no momento.</td>
		</tr>
	}
	</tbody>
</table>
@Html.instrucao("As fotos ativas mais recentes terão prioridade na exibição.")
<div class="clearfix"></div>