@model WEB.Areas.Planos.ViewModels.PlanoCarreiraForm
@using BLL.Configuracoes
@{
    Layout = "~/views/shared/associatec/masterpage-edit.cshtml";
    ViewBag.titlePage = "Plano de Carreira";
    ViewBag.subTituloPagina = Model.PlanoCarreira.descricao;

    var OConfigFinanceiro = ConfiguracaoFinanceiroBL.getInstance.carregar();
}
@section breadcrump{
    <ol class="breadcrumb">
        <li>
            <a class="active fs-14" href="@Url.Action("index", "PlanoCarreiraConsulta")">
                <i class="fa fa-arrow-left"></i>
                Voltar
            </a>
        </li>
    </ol>
}
@section navTabs{
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab-1" data-toggle="tab">Principal</a>
        </li>
    </ul>
}
@section tabContent{
    <div id="tab-1" class="tab-pane active">
        @if (Model.PlanoCarreira.id > 0) {
            <div class="dropdown pull-right">
                <a href="javascript:;" class="dropdown-toggle text-black" type="button" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="javascript:;" onclick="DefaultSistema.showModal('@Url.Action("modal-logs-plano", "PlanoCarreiraAlteracaoDadosLista", new {idPlanoCarreira = Model.PlanoCarreira.id})')">
                            <i class="fas fa-shoe-prints"></i> Logs de alterações
                        </a>
                    </li>
                </ul>
            </div>
        }

        @Html.infoCadastro(Model.PlanoCarreira.id, Model.PlanoCarreira.dtCadastro, null)

        @using (Html.BeginForm("salvar", null, FormMethod.Post, new {role = "form", @class = "default"})) {
            @Html.HiddenFor(m => m.PlanoCarreira.id)
            @Html.ValidationSummary(true, "Alguns campos não foram validados")

            <h4 class="separator-form-icon">
                <i class="far fa-edit"></i>
                Dados Principais do Plano
            </h4>
            <div class="form-horizontal">
                <div class="col-md-7">
                    @Html.labelRequired("Descrição")
                    @Html.TextBoxFor(m => m.PlanoCarreira.descricao, new {@class = "form-control input-sm", maxlength = "100"})
                    @Html.ValidationMessageFor(m => m.PlanoCarreira.descricao)
                </div>
                <div class="col-md-3">
                    <label>Pontuação</label>
                    @Html.TextBoxFor(m => m.PlanoCarreira.pontuacao, new {@class = "form-control input-sm", maxlength = "10", alt = "number_10"})
                    @Html.ValidationMessageFor(m => m.PlanoCarreira.pontuacao)
                </div>
                <div class="col-md-2">
                    <label>Status</label>
                    @Html.DropDownListFor(m => m.PlanoCarreira.ativo, ComboHelper.selectListStatus(Model.PlanoCarreira.ativo), "...", new {@class = "form-control input-sm"})
                </div>
                <div class="col-md-12">
                    <label>Observações</label>
                    @Html.TextAreaFor(m => m.PlanoCarreira.observacoes, new {@class = "form-control input-sm", maxlength = "100", @style = "resize: none;"})
                    @*@Html.ValidationMessageFor(m => m.PlanoCarreira.obsevacoes)*@
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="text-right margin-top-15">
                @Html.exibirBotoesFormulario(Url.Action("index", "PlanoCarreiraConsulta"), "N", Url.Action("index"))
            </div>
        }
    </div>
}