@model WEB.Areas.ConfiguracoesAssociados.ViewModels.AssociadoCampoPropriedadeForm
@using MvcFlashMessages
@{
    Layout = null;

    string idBox = IsPost ? "" : "boxPropriedadeCampo";
}

<div id="@idBox">
    <div class="row">
        @Html.RenderFlash()

        @using (Ajax.BeginForm("salvar-form-propriedade", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = idBox, OnSuccess = "AssociadoCampoPropriedade.onSucessFormPropriedade"}, new { })) {
            
            @Html.HiddenFor(x => x.AssociadoCampoPropriedade.id)

            @Html.HiddenFor(x => x.AssociadoCampoPropriedade.idConfiguracaoAssociadoCampo)

            @Html.ValidationSummary(false)

            <div class="col-sm-4">
                @Html.labelRequired("Nome")
                @Html.TextBoxFor(x => x.AssociadoCampoPropriedade.nome, new { @class = "form-control input-sm", maxlength="20" })
            </div>

            <div class="col-sm-6">
                <label>Valor</label>
                @Html.TextBoxFor(x => x.AssociadoCampoPropriedade.valor, new { @class = "form-control input-sm", maxlength = "100" })
            </div>

            <div class="col-sm-2 padding-top-20">
                <button type="submit" name="enviar" class="btn btn-sm btn-primary link-loading">OK</button>
            </div>
        }
    </div>
</div>