@model List<DAL.ConfiguracoesAssociados.ConfiguracaoAssociadoCampoPropriedade>

@{
    Layout = null;
}
<div class="table-responsive">
    <div class="dataTables_wrapper form-inline" role="grid">
        <table class="table table-bordered table-striped dataTable">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th width="50">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any()) {
                    foreach (var Item in Model) {
                        <tr>
                            <td>@Item.nome</td>
                            <td>@Item.valor</td>
                            <td>
                                <a href="javascript:void(0)" onclick="AssociadoCampoPropriedade.editarPropriedade(this)" data-url="@Url.Action("partial-form-propriedade", "ConfiguracaoAssociadoCampoPropriedade", new {idCampo = Item.idConfiguracaoAssociadoCampo, id = Item.id})" data-toggle="tooltip" title="Editar registro"><i class="fa fa-edit text-black"></i></a>&nbsp;
                                <a href="javascript:void(0)" onclick="AssociadoCampoPropriedade.excluirPropriedade(this)" data-url="@Url.Action("excluir", "ConfiguracaoAssociadoCampoPropriedade")" data-id="@Item.id" data-toggle="tooltip" title="Excluir registro"><i class="fa fa-trash text-black"></i></a>
                            </td>
                        </tr>
                    }
                } else {
                    <tr>
                        <td colspan="3">Nenhum registro encontrado</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>