<!DOCTYPE html>
<html>
<head>
    <meta charset="iso-8859-1">
    <title>@ViewBag.Title  @Html.sistema().tituloSistema</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,700,300" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400" rel="stylesheet" type="text/css">
	<link href="@UtilConfig.linkResourses()Areas/Recibos/css/recibo.css" rel="stylesheet" />
	@RenderSection("styles", false)
</head>
<body>
	<main>
		@RenderBody()
	</main>
</body>
</html>
