@model DAL.Associados.Associado
@{
	ViewBag.modalTitle = String.Format("Registrar admissão do associado {0}", Model.Pessoa.nome);
	ViewBag.modalWidthClass = "md";
	if (IsPost) {
		Layout = null;
	} else {
		Layout = "~/views/shared/associatec/masterpage-modal.cshtml";
	}
}

<div id="boxFormAdmissao">
	<div class="alert alert-warning"><strong>Atenção! </strong> Essa operação não poderá ser desfeita.</div>
	@Html.showFlashMessage()
	@using (Ajax.BeginForm("admitir-associado", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "boxFormAdmissao", InsertionMode = InsertionMode.Replace, OnSuccess = "AssociadoAcao.onSuccessFormAdmissao" }, new { id = "formAdmissao", @class = "default col-md-12" })) {
		@Html.legendaRequired()<br />
		{ Html.EnableClientValidation(false); }
		@Html.ValidationSummary(false)
		@Html.HiddenFor(m => m.id)
		@Html.HiddenFor(m => m.Pessoa.nome)
		
		<div class="col-md-8 no-padding-bottom">
			@Html.labelRequired("Informe a data em que o associado foi admitido")
		</div>
		<div class="clearfix"></div>
		<div class="col-md-4 no-padding-top">
			@Html.TextBoxFor(m => m.dtAdmissao, new { @class = "form-control input-sm", alt="date" })
			@Html.ValidationMessageFor(m => m.dtAdmissao)
		</div>
		<div class="clearfix"></div><br />

	}
</div>

@section modalFooter{
	<div class="text-right">
		<input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal"  aria-hidden="true" />
		<input type="button" value="Confirmar Admissão" class="btn btn-primary link-loading" onclick="$('#formAdmissao').submit();" />
	</div>
}