@model WEB.Areas.RamosAtividade.ViewModels.RamoAtividadeForm

@using DAL.Permissao.Security.Extensions
@using WEB.Areas.Associacoes.Helpers

@using (Html.BeginForm("editar", null, FormMethod.Post, new { role = "form", @class = "default" })){
	
	@Html.HiddenFor(m => m.RamoAtividade.id)

	@Html.ValidationSummary(false)

    <h4 class="separator-form">Dados Principais do Ramo de Atividade</h4>

	<div class="form-horizontal">

        @if (User.idOrganizacao() == 0) {
            <div class="col-sm-4 col-md-3">
                <label>Organização</label>
                @Html.DropDownListFor(m => m.RamoAtividade.idOrganizacao, AssociacaoHelper.getInstance.selectList(Model.RamoAtividade.idOrganizacao), "Padrão", new {@class = "form-control input-sm"})
            </div>
            <div class="clearfix"></div>
        }

	    <div class="col-sm-6">
			@Html.labelRequired("Descrição")
			@Html.TextBoxFor(m => m.RamoAtividade.descricao, new { @class = "form-control input-sm", maxlength="100" })
			@Html.ValidationMessageFor(m => m.RamoAtividade.descricao)
		</div>

		<div class="col-sm-2">
			<label>Status</label>
			@Html.DropDownListFor(m => m.RamoAtividade.ativo, ComboHelper.selectListStatus(Model.RamoAtividade.ativo), "...", new { @class = "form-control input-sm" })
			@Html.ValidationMessageFor(m => m.RamoAtividade.ativo)
		</div>
		<div class="clearfix"></div>

	</div>
	<div class="clearfix"></div>
	<br />
	<div class="text-right">
		@Html.exibirBotoesFormulario(Url.Action("listar"), Model.RamoAtividade.flagSistema == true ? "S" : "N")
	</div>

}
