@model PagedList.IPagedList<ProdutoItem>

@using PagedList.Mvc
@using DAL.Produtos

@{
	ViewBag.titlePage = "Itens de Produto Cadastrados";
}

@section styles {
    <link href="~/css/associatec/list-custom.css" rel="stylesheet" />
}

<div class="box box-primary">

    @Html.headerBox("Filtros de Busca", "fa fa-search")

    <div class="box-body">
        @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "filtros" })) {
            <div class="form-group col-xs-7">

            </div>
            <div class="form-group col-xs-2">
                <label>Status</label>
                @Html.DropDownList("flagAtivo", ComboHelper.selectListStatus(UtilRequest.getBool("flagAtivo")), "Todos", new { @class = "form-control input-sm" })
            </div>
            <div class="form-group col-xs-3">
                <label>Buscar</label>
                @Html.buttonSearch(UtilRequest.getString("valorBusca"))
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>

<div class="box box-primary">

    <div class="box-header with-border">
        <div class="box-title">
            <i class="far fa-chart-bar"></i> Resultados
        </div>
        <div class="box-tools pull-right">

            <a href="@Url.Action("editar", "ProdutoItem", new { area = "Produtos" })" class="btn btn-box-tool"><i class="far fa-plus-circle"></i> Novo Item</a>

            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="far fa-minus"></i></button>
        </div>
    </div>

    <div class="box-body">

        @if (!Model.Any()) {
            <div class="col-sm-12">
                <div class="alert alert-info">
                    Nenhum item foi encontrado.
                </div>
            </div>
        }

        @foreach (var OItem in Model) {

            <div class="box-info-item">
                <div class="row">

                    <div class="col-sm-3 col-xs-6">
                        <span data-toggle="tooltip" title="Item"><i class="fa fa-align-justify"></i>  @(OItem.id) - @(OItem.descricao)</span>
                    </div>

                    <div class="col-sm-3 col-xs-6">

                        <span data-toggle="tooltip" title="Unidade de Medida"><i class="fa fa-balance-scale"></i> @OItem.UnidadeMedida.descricao</span>

                    </div>

                    <div class="col-sm-3 col-xs-6">

                        @Html.linkStatusDefault(OItem.id, OItem.ativo)

                    </div>

                    <div class="col-sm-2 col-xs-6">
                        <span data-toggle="tooltip" title="Data de Cadastro"><i class="fa fa-calendar"></i> @OItem.dtCadastro.exibirData()</span>
                    </div>
                    
                    <div class="col-sm-1 col-xs-6">
                        <div class="dropdown pull-right">
                            <a href="javascript:;" class="dropdown-toggle text-black" type="button" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>@Html.linkTexto("<i class=\"fa fa-edit\"></i>Editar", Url.Action("editar", "ProdutoItem", new { OItem.id }))</li>
                                <li>@Html.linkAjaxExcluir(OItem.id,"N","","","","Excluir")</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        }

        @(Html.paginarRegistros(Model, Html.PagedListPager(Model, nroPagina => UtilRequest.linkPaginacao(nroPagina, "listar"), PagedListRenderOptions.OnlyShowFivePagesAtATime)))

    </div>

</div>