@model List<DAL.Associados.AssociadoRepresentante>
@using DAL.Associados;

<br />
<div class="text-left">
	<button class="btn bg-yellow">
		<i class="far fa-chart-bar"></i> <strong>@Model.Count</strong> Representantes(s) cadatrado(s)
	</button>
</div><br />
<table border="0" cellpadding="0" cellspacing="0" class="table table-bordered table-striped">
    <tr>
        <th class="text-center">Tipo de Representante</th>
        <th class="text-center">Representante Junto a Associação</th>
        <th class="text-center">Nome</th>
        <th class="text-center">CPF</th>
        <th class="text-center">RG</th>
        <th class="text-center">Telefone</th>
        <th class="text-center">E-mail</th>
        <th class="text-center width-150">Cadastro</th>
        <th>&nbsp;</th>
    </tr>
    @if(Model.Count > 0) {
        foreach(AssociadoRepresentante Item in Model) {
            <tr>
                <td class="text-center">@Item.TipoAssociadoRepresentante.descricao</td>
                <td class="text-center">@((Item.flagRepresentantaAssociacao == "S") ? "Sim" : "Não")</td>
                <td class="text-center">@Item.nome</td>
                <td class="text-center">@(UtilString.formatCPFCNPJ(Item.cpf))</td>
				<td class="text-center">@Item.rg</td>
				<td class="text-center">(@Item.ddiTelPrincipal) (@Item.dddTelPrincipal) @Item.nroTelPrincipal)</td>
				<td class="text-center">@Item.emailPrincipal</td>
                <td class="text-center">@Item.dtCadastro</td>
                <td class="text-center box-acoes">
                    <a href="javascript:void(0);" onclick="DefaultSistema.carregarConteudo(this);" data-url="@Url.Action("editar", "associadorepresentante", new{area="associados", Item.id})" data-target="boxFormAssociadoRepresentante" title="Editar Representante" data-toggle="tooltip">
                        <i class="fa fa-edit"></i>
                    </a> &nbsp;
					@Html.linkAjaxExcluir(Item.id, "N", Url.Action("excluir", "associadorepresentante", new { area = "associados" }))
                </td>
            </tr>
        }

    } else {
        <tr>
            <td class="text-center" colspan="16">Nenhum Representante cadastrado para esse associado.</td>
        </tr>
    }
</table>
