@model PendenciaCadastralConsulta
@using WEB.Areas.AssociadosConsultas.ViewModels
@using WEB.Areas.Associados.Helpers

@using (Html.BeginForm("index", null, FormMethod.Post, new {id = "fmFiltro"})) {

    @Html.Hidden("nroPagina", "", new { id = "nroPagina" })
    
    <div class="col-lg-12 col-md-12">
                
        <div class="row">

            <div class="col-lg-3 col-md-3 col-xs-6">
                <label>Tipo de Associado</label><br />
                @Html.ListBoxFor(m => m.idsTipoAssociado, TipoAssociadoHelper.getInstance.multiSelectList(Model.idsTipoAssociado), new {@class = "form-control input-sm input-multiselect", multiple = "multiple"})
            </div>

            <div class="col-lg-2 col-md-2 col-xs-6">
                <label>Qtd E-mails</label>
                @Html.TextBoxFor(m => m.qtdEmails, new { @class = "form-control input-sm", type = "number" })
            </div>

            <div class="col-lg-2 col-md-2 col-xs-6">
                <label>Qtd Telefones</label>
                @Html.TextBoxFor(m => m.qtdTel, new { @class = "form-control input-sm", type = "number" })
            </div>

            <div class="col-lg-2 col-md-2 col-xs-6">
                <label>Qtd Endereços</label>
                @Html.TextBoxFor(m => m.qtdEnderecos, new { @class = "form-control input-sm", type = "number"})
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6">
                <label>Situação Financeira</label>
                @Html.DropDownListFor(m => m.flagSituacaoContribuicao, SituacaoContribuicaoHelper.getSituacao(Model.flagSituacaoContribuicao), "Todas", new { @class = "form-control input-sm" })
            </div>

            <div class="clearfix hidden-xs hidden-sm"></div>

            <div class="col-lg-3 col-md-2 col-xs-6">
                <label>Status</label>
                @Html.DropDownListFor(m => m.ativo, AssociadoHelper.selectListAtivo(Model.ativo), "Todos", new { @class = "form-control input-sm" })
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12">
                <label>Buscar</label>
                @Html.buttonSearch(UtilRequest.getString("valorBusca"))
            </div>

            <div class="clearfix"></div>

        </div>
    </div>
    <div class="clearfix"></div><br/>
            
}