@model DAL.Associados.Associado

@{
	ViewBag.modalTitle = String.Format("Exclusão do não associado {0}", Model.Pessoa.nome);
	ViewBag.modalWidthClass = "md";
	if (IsPost) {
		Layout = null;
	} else {
		Layout = "~/views/shared/associatec/masterpage-modal.cshtml";
	}
}

<div id="boxFormExclusao">
    <div class="alert alert-warning"><strong>Atenção! </strong> Ao excluir um associado, todas as informações pertinentes ao seu cadastro também serão excluídas do sistema.</div>
    @Html.showFlashMessage()
    @using (Ajax.BeginForm("excluir-nao-associado", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "boxFormExclusao", InsertionMode = InsertionMode.Replace, OnSuccess = "NaoAssociadoAcao.onSuccessFormExclusao" }, new { id = "formExclusao", @class = "default col-md-12" }))
    {
        @Html.legendaRequired()<br />
        { Html.EnableClientValidation(false); }
        @Html.ValidationSummary(false)
        @Html.HiddenFor(m => m.id)
        @Html.HiddenFor(m => m.Pessoa.nome)

        <div class="col-md-8 no-padding-bottom">
            @Html.labelRequired("Informe o motivo para exclusão")
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 no-padding-top">
            @Html.TextArea("observacoes", "", new { @class = "form-control input-sm", rows = "4" })
            @Html.ValidationMessage("observacoes")
        </div>
        <div class="clearfix"></div><br />

    }
</div>

@section modalFooter{
	<div class="text-right">
		<input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal"  aria-hidden="true" />
		<input type="button" value="Confirmar Exclusão" class="btn btn-danger link-loading" onclick="$('#formExclusao').submit();" />
	</div>
}