@model PagedList.IPagedList<Anuncio>
@using PagedList.Mvc

@{
	ViewBag.titlePage = "Anúncios";
	ViewBag.ativarMenuTabelas = "active";

    var listaAreas = (ViewBag.listaAreas == null ? new List<Anuncio>() : ViewBag.listaAreas as List<Anuncio>);
}

<div class="col-xs-12 box box-solid internal-default">
	<div>
		@using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "filtros" }))
		{
			<div class="form-group col-xs-7">

			</div>
			<div class="form-group col-xs-2">
				<label>Status</label>
				@Html.DropDownList("flagAtivo", ComboHelper.selectListStatus(UtilRequest.getString("flagAtivo")), "Todos", new { @class = "form-control input-sm" })
			</div>
			<div class="form-group col-xs-3">
				<label>Buscar</label>
				@Html.buttonSearch(UtilRequest.getString("valorBusca"))
			</div>
		}
		<div class="clearfix"></div>
	</div>


	<div class="table-responsive">
		<div class="dataTables_wrapper form-inline" role="grid">

			<div class="links-table">
				<div class="btn-group">
					<a href="javascript:void(0);" data-url="@Url.Action("excluir")" class="btn btn-default btn-flat" title="Remover itens selecionados" onclick="return DefaultAction.removeAll(this);">
						<i class="fa fa-trash"></i>
					</a>
					<a href="@Url.Action("editar")" class="btn btn-default btn-flat" title="Adicionar novo registro">
						<i class="far fa-plus-circle"></i>
					</a>
				</div>
			</div>

			<table class="table table-bordered table-striped dataTable">
				<thead>
					<tr role="row">
						<th class="width-50 text-center"><input type="checkbox" name="marcarTodos" data-childs="checkRegistro[]" id="checkMarcarTodos" /></th>
                        <th class="width-300">Título</th>
                        <th>Telefone</th>
                        <th>E-Mail</th>
                        <th>Site</th>
						<th class="width-100">Status</th>
						<th class="width-125">Cadastro</th>
						<th class="width-100">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.PageCount > 0){
						foreach (var Item in Model){
							<tr>
								<td class="text-center"><input type="checkbox" name="checkRegistro[]" value="@Item.id" /></td>
								<td>@Item.titulo</td>
                                <td>@Item.telefone</td>
                                <td>@Item.email</td>
                                <td>@Item.site</td>
								<td class="text-center">@(Item.ativo == "S" ? "Sim" : "Não")</td>
								<td class="text-center">@Item.dtCadastro.exibirData(true)</td>
								<td class="text-center box-acoes">
									<a href="@Url.Action("editar", new{id=Item.id})" title="Editar Registro"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;

									<a href="javascript:void(0);" class="delete-default" data-id="@Item.id" data-url="@Url.Action("excluir")" title="Excluir Registro"><i class="fa fa-trash"></i></a>
								</td>
							</tr>
						}
					}else{
						<tr>
							<td class="text-center" colspan="11">Nenhum registro cadastrado</td>
						</tr>
					}
				</tbody>
			</table>

		@(Html.paginarRegistros<Anuncio>(Model, Html.PagedListPager(Model, nroPagina => Url.Action("listar", new { nroPagina }), PagedListRenderOptions.OnlyShowFivePagesAtATime)))
		</div>
	</div>
</div>
