@model WEB.Areas.Associados.ViewModels.AssociadoForm

<div class="col-sm-12">
    <div class="box-info-item">
        <div>
            <strong><i class="fa fa-envelope"></i> johnny.soares@sinctec.com.br</strong> <em>(Principal)</em>
        </div>
    </div>
    <div class="box-info-item">
        <div>
            <strong><i class="fa fa-envelope"></i> hospedagem@sinctec.com.br</strong> <em>(Comercial)</em>
        </div>
    </div>
</div>
<div class="clearfix"></div>
@*<div class="col-sm-4 col-md-4">
    @Html.labelRequired(Html.labelTexto("emailPrincipal").ToString() )
    @Html.TextBoxFor(m => m.Associado.Pessoa.emailPrincipal, new { @class = "form-control input-sm", maxlength = "150" })
    @Html.ValidationMessageFor(m => m.Associado.Pessoa.emailPrincipal)
</div>
<div class="col-sm-4 col-md-4">
    <label>@Html.labelTexto("emailSecundario")</label>
    @Html.TextBoxFor(m => m.Associado.Pessoa.emailSecundario, new { @class = "form-control input-sm", maxlength = "150" })
    @Html.ValidationMessageFor(m => m.Associado.Pessoa.emailSecundario)
</div>
<div class="col-sm-4 col-md-4">
    <label>@Html.labelTexto("enderecoWEB")</label>
    @Html.TextBoxFor(m => m.Associado.Pessoa.enderecoWeb, new { @class = "form-control input-sm", maxlength = "150" })
    @Html.ValidationMessageFor(m => m.Associado.Pessoa.enderecoWeb)
</div>*@